@model hack_it_mvc.Models.VulnerableModel

<!DOCTYPE html>
<html>
    <head>
        <title>Get View</title>
		<script type="text/javascript">@Html.Raw(@Model.Text)</script>
    </head>
    <body>
		Get View
		<br />
		@Model.Text
    </body>
</html>
